        marquee,
        p,
        h1,
        body {
          font-size: 50px; 
          background-color: #caffb2e8; 
          color: rgb(0, 0, 0);
          text-align: center;
          letter-spacing: 1px;
          }


          